$white: #ffffff;

$gray-50: #f2f4f9;
$gray-500: #94A0B6;

$black-400: #667695;
$black-800: #364364;

$green-500: #37d772;

$red-400: #ff5754;

$yellow-500: #f6c044;

$pink-500: #ff006e;

$violet-400: #7844e4;
$violet-800: #1d3aab;

$blue-400: #6B89FF;
$blue-500: #2e58ff;
